.input-section {
  margin-top: 80px;

  .button {
    margin-bottom: 160px;
  }

  .input-subsection {
    margin-top: 25px;

    input {
      margin-top: 0;
    }
  }

  .logo-input {
    color: #858585;
  }

  .participants {
    .select-input {
      max-width: 665px;
      margin-top: 10px;

      .css-1pahdxg-control {
        box-shadow: none;
        border-color: #858585;
        border-radius: 0;
        min-height: 42px;
        &:hover {
          border-color: #858585;
        }
      }

      .css-yk16xz-control {
        border-radius: 0;
        min-height: 42px;
      }
    }

    h5 {
      display: inline;
    }

    .participants-number {
      margin-left: 8px;
    }

    .danger {
      color: #f3493e;
    }
  }

  h5 {
    margin-bottom: 10px;
  }

  h2 {
    margin-left: 95px;
  }

  .choice-box-list {
    display: flex;

    .checkbox {
      margin-right: 30px;
    }
  }

}