header {
  background: #f3493e;
  width: 100%;
  height: 150px; // todo: 112px
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .auth {
    button {
      margin-left: 10px;
    }
  }
}
