.onPageNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f3493e;
  margin-top: 80px;
  padding-bottom: 8px;

  nav.links {
    display: flex;
    align-items: center;

    .nav-item {
      cursor: pointer;
      margin-right: 32px;

      &.selected {
        font-weight: 700;
      }
    }
  }

  .buttons button {
    margin-left: 30px;
  }
}
