/* REACT-INPUT-RANGE */

.react-input-range {
  width: 300px;
  margin: 20px;
}

.input-range .input-range__track {
  border-radius: 20px;
  height: 3px;
}

.input-range .input-range__track.input-range__track--background {
  background: #c4c4c4;
}

.input-range .input-range__track.input-range__track--active {
  background: #f3493e;
}

.input-range .input-range__track .input-range__label {
  display: none;
}

.input-range .input-range__track .input-range__slider {
  background: #f3493e;
  border-radius: 50%;
  border: none;
  height: 10px;
  width: 10px;
  margin-top: -7px;
}
